@font-face {
  font-family: "Cookie";
  src: 
    url(./fonts/cookie-regular-webfont.woff) format("woff"),
    url(./fonts/cookie-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 30px;
}

body {
  margin: 0;
  background-image: url(./images/background.jpg);
  color: white;
  font-family: "Cookie", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 30px;
  background-color: goldenrod;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;  
}

#content {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

h1 {
  text-align: center;
  margin: 0;
  text-decoration: underline;
  color: gold;
}

.content-container {
  width: 50vw;
  background-color: rgba(75, 75, 75, 0.5);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-container > div {
  box-shadow: 
  white -1px 1px 3px,
  white 0px 1px 3px;
  border-radius: 10px;
  padding: 20px;
}

.review-container {
  display: flex;
  flex-direction: column;
}

.review {
  font-style: italic;
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.3;
  padding: 15px;
}

.reviewer,
.star {
  align-self: flex-end;
  font-weight: bold;
}

.hours-container,
.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hours-title,
.location-title {
  font-weight: bold;
  font-size: 1.3rem;
  color: gold;
  text-decoration: underline;
}

.menu h1 {
  text-transform: uppercase;
}

h2 {
  margin: 0;
  text-align: center;
  color: gold;
  font-style: italic;
}

.dish {
  display: flex;
  gap: 30px;
  align-items: center;
}

.img-container img {
  width: 100%;
}

.img-container {
  flex: 1;
}

.left-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.dish-name {
  color: gold;
  margin: 0;
  text-decoration: underline;
}


.description {
  font-style: italic;
  text-align: justify;
  line-height: 1.2;
  font-size: 0.8rem;
}

.price {
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}